<?xml version="1.0" encoding="UTF-8"?>
<web-app > 
<display-name>USERMANEGEMENTSYSTEM</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginCode</display-name>
    <servlet-name>loginCode</servlet-name>
    <servlet-class>loginCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCode</servlet-name>
    <url-pattern>/loginCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>