<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkbal</display-name>
    <servlet-name>checkbal</servlet-name>
    <servlet-class>checkbal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkbal</servlet-name>
    <url-pattern>/checkbal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wirhdraw</display-name>
    <servlet-name>wirhdraw</servlet-name>
    <servlet-class>wirhdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wirhdraw</servlet-name>
    <url-pattern>/wirhdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deposit</display-name>
    <servlet-name>deposit</servlet-name>
    <servlet-class>deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
</web-app>